@use "colors";

.column {
  float: left;
  width: 50%;
  height: calc(100vh - 48px);
  border: 4px solid black;
  border-collapse: collapse;
}
* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body {
  margin: 24px;
  padding: 0;
  background-color: colors.$bg-light;
}

#home-label {
  font-size: 6em;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 48px;
  margin-top: 56px;
  color: colors.$bg-light;
  background-color: blue;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  user-select: none;
  transition: all 0.1s ease-in;
  text-align: center;
}

#home-label:hover {
  background-color: inherit;
  color: blue;
  transition: all 0.1s ease-in;
  border-color: rgba(0, 0, 0, 0);
  transform: scale(1.2);
}

#home-tagline {
  font-size: 1.6em;
  max-width: max(25vw, 700px);
  margin-left: 24px;
  user-select: none;

  margin-right: 24px;
}

.home-action-ribbon {
  border-top: 4px solid black;
  margin-top: auto;
  > a {
    color: black;
  }
}

.home-action-blog:hover {
  background-color: yellow;
  transition: all 0.08s ease-in;
  transform: rotate(1deg) scale(1.08);
  border-left: 4px solid black;
}

.home-action-chicklet:hover {
  background-color: yellow;
  transition: all 0.08s ease-in;
  background-color: yellow;
  transform: rotate(1deg) scale(1.08);
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.home-action-chicklet {
  float: left;
  width: 33.33%;
  padding: 24px;
  transition: all 0.008s ease-in;
}

.home-action-blog {
  float: left;
  width: 66.66%;
  padding: 24px;
  transition: all 0.08s ease-in;
}

#cover-image {
  background-color: red;
  height: calc(100vh - 8px - 48px);
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
    url("/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: colors.$bg-light;
  padding: 24px;
}

.br-b {
  border-bottom: 4px solid black;
}

.br-l {
  border-left: 4px solid black;
}

.br-t {
  border-top: 4px solid black;
}

.br-r {
  border-right: 4px solid black;
}

#date {
  display: inline-block;
  padding: 24px;
  width: auto;
  margin-left: 24px;
  border-bottom: 2px solid black;
  font-size: 1.4em;
  user-select: none;
}

#date:hover {
  background: black;
  color: colors.$bg-light;
  transition: all 0.1s ease-in;
}

#left {
  background: linear-gradient(
      rgba(255, 255, 255, 0.83),
      rgba(255, 255, 255, 0.83)
    ),
    url("/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.quote {
  // margin: 24px;
  padding: 36px;
  font-size: 1.5em;
}

.the-quote {
  text-align: center;
}

.quote-icon {
  font-size: 46px;
  opacity: 0.5;
}

#law {
  font-size: 2em;
  padding: 6px;
}

#feature {
  border-collapse: collapse;
}

td.feature-cell {
  border: 1px solid colors.$bg-light;
  font-size: larger;
  padding: 4px;
  text-align: center;
}

td.inverted-cell {
  color: rgba(0, 0, 0, 1);
  background-color: colors.$bg-light;
}

.xmark {
  text-align: right;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.law-table {
  border: 1px solid colors.$bg-light;
  border-collapse: collapse;
}

.not-you {
  text-align: center;
  background: colors.$bg-light;
  color: rgba(0, 0, 0, 1);
}

.about-section {
  // transform: rotate(-4deg);
  padding-left: 18px;
  // width: 400px;
  font-size: 4em;
}

.blog-container {
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.1s ease-in;
}

.blog-container:hover {
  transition: all 0.1s ease-in;
  transform: rotate(2deg);
  padding: 16px;
  background-color: colors.$bg-light;
  color: rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px 5px 0px 0px blue;
  -moz-box-shadow: 5px 5px 0px 0px blue;
  box-shadow: 5px 5px 0px 0px blue;
}

.latest-posts {
  font-size: 7em;
  margin-top: 12px;
  margin-bottom: 24px;
}

.blog-title {
  font-size: 2em;
}

.blog-desc {
  font-size: 1.2em;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-aesterix {
  display: inline-block;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}
