{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/home.css" />
{% endblock %} {% block content %}

<div class="row">
  <div class="column" style="display: flex; flex-direction:column;" id="left">

    <div>
    <span class="archivo-black-regular" id="date" onmouseover="setTime()" onmouseout="setDate()">07/July/2024</span></div>
    <p id="home-label" class="syne-bold">flyingcakes</p>

    <p id="home-tagline" class="press-start-2p-regular">
      EX TOWER RESEARCH CAPITAL INTERN <span class="rotate-aesterix">*</span> ENDEAVOUR OS TEAM MEMBER <span class="rotate-aesterix">*</span> KDE
      CONTRIBUTOR <span class="rotate-aesterix">*</span> PROGRAMMER DVORAK <span class="rotate-aesterix">*</span> 80s CITY POP ADDICT <span class="rotate-aesterix">*</span> GSoC'22 <span class="rotate-aesterix">*</span> SoK'22 <span class="rotate-aesterix">*</span>
    </p>
    <table class="bebas-neue-regular" id="feature">
      <tr class="pg-row"><td class="feature-cell">parental</td> <td class="feature-cell">guidance</td></tr>
      <tr><td colspan="2" class="feature-cell inverted-cell">not needed</td></tr>
            </table>
    <div class="row archivo-black-regular home-action-ribbon">
    <a href="/posts">
      <div class="home-action-blog br-b br-r" ><i class="fa-solid fa-pen-nib"></i> READ BLOGS</div>
    </a>
    <a href="https://x.com/flyingcakes85">
      <div class="home-action-chicklet br-b"><i class="fa-brands fa-twitter"></i> TWITTER</div>
    </a>
    <a href="https://github.com/flyingcakes85">
      <div class="home-action-chicklet br-r"><i class="fa-brands fa-github"></i> GITHUB</div>
    </a>
    <a href="mailto:hi@snehit.dev">
      <div class="home-action-chicklet br-r"><i class="fa-solid fa-envelope"></i> EMAIL</div>
    </a>
    <a href="/about">
      <div class="home-action-chicklet"><i class="fa-solid fa-info"></i> ABOUT</div>
    </a>
    </div>
  </div>
  <div class="column" style="background-color: #000; border-left: 0px;">
    <div id="cover-image">
      <!-- <div class="quote dm-serif-text-regular-italic">
        <table>
          <tr>
            <td><i class="fa-solid fa-quote-left quote-icon"></i></td>
            <td class="the-quote">
              Every flower was once a bud. And every bud, once nothingness. - Floyd Mashlow Warshall

            </td>
            <td>
              <i class="fa-solid fa-quote-right quote-icon"></i>
            </td>
          </tr>
        </table>
      </div> -->

      <!-- <div class="about-section dm-serif-text-regular">
      SNEHIT SAH<br>
<br>
I post about society and life. Because who makes the law? Not you for sure.
<br>
All we do is just writing history.

</div> -->

      <!-- <table class="law-table">

        <tr>
          
          
          <td class="xmark"><i class="fa-solid fa-xmark"></i></td>
        </tr>
        <tr>
          <td colspan="7" id="law" class="archivo-black-regular">WHO MAKES<br>THE LAW?
          </td>
        </tr>
        <tr><td colspan="7" class="not-you bebas-neue-regular"> NOT YOU FOR SURE</td></tr>
      </table>
      <br>
       -->

      <h2 class="archivo-black-regular latest-posts">LATEST<br>POSTS</h2>

      <div class="blog-container work-sans-regular">
        <h1 class="blog-title">How a man can change destiny</h1>
        <p class="blog-desc">The mostly true story of an Asian man changing destiny of his sheep and stones.</p>

      </div>

      <div class="blog-container work-sans-regular">
        <h1 class="blog-title">How a man can change destiny</h1>
        <p class="blog-desc">The mostly true story of an Asian man changing destiny of his sheep and stones.</p>

      </div>

      <div class="blog-container work-sans-regular">
        <h1 class="blog-title">How a man can change destiny</h1>
        <p class="blog-desc">The mostly true story of an Asian man changing destiny of his sheep and stones.</p>

      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block post_body_script %}

let date_element = document.getElementById("date");

function setTime() {
    date_element.innerHTML = new Date().toLocaleTimeString();
}

function setDate() {
    date_element.innerHTML = new Date().toLocaleDateString();
}

setDate();

{% endblock %}