{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/home.css" />
{% endblock %} {% block content %}

<div class="row">
  <div class="column" style="display: flex; flex-direction:column;">
    <p id="home-label" class="inria-serif-bold-italic">flyingcakes</p>

    <p id="home-tagline" class="press-start-2p-regular">
      EX TOWER RESEARCH CAPITAL INTERN * ENDEAVOUR OS TEAM MEMBER * KDE
      CONTRIBUTOR * PROGRAMMER DVORAK * 80s CITY POP ADDICT * GSoC'22 * SoK'22 *
    </p>
    <div class="row archivo-black-regular home-action-ribbon">
    <a href="/posts">
      <div class="home-action-blog br-b br-r" ><i class="fa-solid fa-pen-nib"></i> READ BLOGS</div>
    </a>
    <a href="https://x.com/flyingcakes85">
      <div class="home-action-chicklet br-b"><i class="fa-brands fa-twitter"></i> TWITTER</div>
    </a>
    <a href="https://github.com/flyingcakes85">
      <div class="home-action-chicklet br-r"><i class="fa-brands fa-github"></i> GITHUB</div>
    </a>
    <a href="mailto:hi@snehit.dev">
      <div class="home-action-chicklet br-r"><i class="fa-solid fa-envelope"></i> EMAIL</div>
    </a>
    <a href="/about">
      <div class="home-action-chicklet"><i class="fa-solid fa-info"></i> ABOUT</div>
    </a>
    </div>
  </div>
  <div class="column" style="background-color: #000; border-left: 0px;">
    <div id="cover-image">
    </div>
  </div>
</div>

{% endblock content %}
